node_modules
build
contracts/player-contracts/*.sol
*.solved.js
*.solved.json
cache
.openzeppelin
.vscode
artifacts
cache
/test/abi-smuggling
test/backdoor
test/climber
test/compromised
test/free-rider
test/puppet
test/puppet-v2
test/puppet-v3
test/selfie
test/side-entrance
test/the-rewarder
test/truster
test/wallet-mining

